.summary {
	padding: 0rem;
}

.summary h2 {
	font-size: 2rem;
	margin-top: 0;
}
.span {
	background: rgb(36, 36, 36);
	color: white;
	font-size: 1.5rem;
	padding: 0.5rem 0.8rem;
}
.img {
	width: 50%;
	border-radius: 10px;
}
.box {
	background: rgb(255, 255, 255);
	display: flex;
	width: 100%;
	justify-content: space-between;
	box-shadow: rgba(255, 255, 255, 0.19) 0px 10px 20px, rgba(255, 255, 255, 0.041) 0px 6px 6px;
	padding: 1rem;
	border-radius: 8px;
}
.box p {
	width: 45%;
	color: rgb(34, 34, 34);
}

@media screen and (max-width: 800px) {
	.box {
		flex-direction: column-reverse;
	}
	.box p {
		width: 100%;
		font-size: 0.7rem;
		margin-bottom: 1rem;
	}
	.img {
		width: 100%;
	}
	.span {
		font-size: 0.8rem;
	}
	.summary h2 {
		font-size: 1.4rem;
		margin-bottom: 2rem;
	}
}
