.meal {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 3px;
	padding: 1rem;
	background: rgba(212, 212, 212, 0.281);
}

.meal h3 {
	margin: 0 0 0.25rem 0;
}

.description {
	color: rgb(44, 44, 44);
}

.price {
	margin-top: 0.25rem;
	font-weight: bold;
	color: #000000;
	font-size: 1.25rem;
}
