.main {
	margin-top: 7rem;
	padding: 2rem 12rem;
	background: rgba(255, 255, 255, 0.239);
	display: flex;
	align-items: center;
	flex-direction: column;
}
@media screen and (max-width: 1200px) {
	.main {
		padding: 2rem 3rem;
	}
}
